*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../img/natural-pattern.png');
  font-family: 'Roboto', sans-serif;
}
a{
  color: green;
  text-decoration: none;
}
.container{
  width: 1000px;
  margin: 20px auto;
}
.float-left{
  float: left;
}
/* header */
.top-header{
  width: 100%;
  height: 300px;
  background-image: url('../img/natural-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 5px solid white;
}
.main-image{
  width: 100%;
  height: 100%;
  position: relative;
}
.title{
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.title img{
  width: 80%;
}
nav{
  height: 50px;
  background-color: grey;
  width: 100%;
}
.menu{
  list-style: none;
  text-align: center;
  line-height: 48px;
}
.menu li{
  display: inline-block;
  padding: 0 20px;
}
.menu li:hover{
  background-color: white;
  border-bottom: 2px solid green;
  color: black;
}
.menu a{
  color: white;
}
.menu li:hover a{
  color: grey;
}
/* main */
main{
margin: 10px 0;
}
main::after{
  content: '';
  display: table;
  clear: both;
}
.themes{
  width: 20%;
  background-color: white;
}
.themes ul{
  list-style-type: none;
}
.themes ul li{
    padding: 10px;
}
.fas {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}
.fas:hover {
    opacity: 0.7;
}
.fa-rss {
  background: #ff6600;
  color: white;
}
.aside-title{
  padding: 10px;
}
.aside-title h3{
  color: #504741;
  display: inline-block;
}
.articles{
  width: 56%;
  margin: 0 2%;
  /* da cancellare */
  height: 400px;
  background-color: violet;
  /* /da cancellare */
}
.widgets{
  width: 20%;
}
.widget{
  /* da cancellare */
  height: 230px;
  background-color: blue;
  /* /da cancellare */
  margin-bottom: 20px;
}
/* footer */
footer{
  /* da cancellare */
  height: 300px;
  background-color: pink;
  /* /da cancellare */
}
